<header>
    <div class="header-container">
        <div class="logo">
            AudioGuess
        </div>

        <div class="right-icons">
            <svg (click)="history = !history"  id="Capa_1" fill="white" enable-background="new 0 0 551.13 551.13" height="30"
                viewBox="0 0 551.13 551.13" width="30" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m275.531 172.228-.05 120.493c0 4.575 1.816 8.948 5.046 12.177l86.198 86.181 24.354-24.354-81.153-81.136.05-113.361z" />
                <path
                    d="m310.011 34.445c-121.23 0-221.563 90.033-238.367 206.674h-71.644l86.114 86.114 86.114-86.114h-65.78c16.477-97.589 101.355-172.228 203.563-172.228 113.966 0 206.674 92.707 206.674 206.674s-92.707 206.674-206.674 206.674c-64.064 0-123.469-28.996-162.978-79.555l-27.146 21.192c46.084 58.968 115.379 92.808 190.124 92.808 132.955 0 241.119-108.181 241.119-241.119s-108.164-241.119-241.119-241.12z" />
            </svg>
            <div *ngIf="user?.photo" class="profile">
                <img src="{{ user?.photo }}">
            </div>
            <svg (click)="exit()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="white" height="30"
                viewBox="0 0 551.13 551.13" width="30" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <path
                                d="M510.371,226.513c-1.088-2.603-2.645-4.971-4.629-6.955l-63.979-63.979c-8.341-8.32-21.824-8.32-30.165,0
                            c-8.341,8.341-8.341,21.845,0,30.165l27.584,27.584H320.013c-11.797,0-21.333,9.557-21.333,21.333s9.536,21.333,21.333,21.333
                            h119.168l-27.584,27.584c-8.341,8.341-8.341,21.845,0,30.165c4.16,4.181,9.621,6.251,15.083,6.251s10.923-2.069,15.083-6.251
                            l63.979-63.979c1.984-1.963,3.541-4.331,4.629-6.955C512.525,237.606,512.525,231.718,510.371,226.513z" />
                            <path
                                d="M362.68,298.667c-11.797,0-21.333,9.557-21.333,21.333v106.667h-85.333V85.333c0-9.408-6.187-17.728-15.211-20.437
                            l-74.091-22.229h174.635v106.667c0,11.776,9.536,21.333,21.333,21.333s21.333-9.557,21.333-21.333v-128
                            C384.013,9.557,374.477,0,362.68,0H21.347c-0.768,0-1.451,0.32-2.197,0.405c-1.003,0.107-1.92,0.277-2.88,0.512
                            c-2.24,0.576-4.267,1.451-6.165,2.645c-0.469,0.299-1.045,0.32-1.493,0.661C8.44,4.352,8.376,4.587,8.205,4.715
                            C5.88,6.549,3.939,8.789,2.531,11.456c-0.299,0.576-0.363,1.195-0.597,1.792c-0.683,1.621-1.429,3.2-1.685,4.992
                            c-0.107,0.64,0.085,1.237,0.064,1.856c-0.021,0.427-0.299,0.811-0.299,1.237V448c0,10.176,7.189,18.923,17.152,20.907
                            l213.333,42.667c1.387,0.299,2.795,0.427,4.181,0.427c4.885,0,9.685-1.685,13.525-4.843c4.928-4.053,7.808-10.091,7.808-16.491
                            v-21.333H362.68c11.797,0,21.333-9.557,21.333-21.333V320C384.013,308.224,374.477,298.667,362.68,298.667z" />
                        </g>
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg>

        </div>
    </div>
</header>
<div class="flex-container">
    <div class="center-container">

        <div *ngIf="listAttempts.length > 0" class="score-container">
            <div class="mark" *ngFor="let item of listAttempts"
                [ngStyle]="{'background-color': item ? '#8AFF88' : '#F42C2C' }"></div>
        </div>
        <ul [ngSwitch]="game?.won">

            <li *ngSwitchCase="null">


                <p *ngIf="!currentAttempt && game" class="center">For starting fill out form</p>

                <div *ngIf="!currentAttempt && game" class="search-container">
                    <input [(ngModel)]="lyrics">
                    <div class="img">
                        <img (click)="findSound()" src="assets/search.svg">
                    </div>
                    <div class="microphone">
                        <svg (click)="state()"  [ngClass]="{filll: mic}"  viewBox="0 0 8 8"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.74475 3.74896C6.74475 3.61952 6.6398 3.51459 6.51038 3.51459C6.38092 3.51459 6.276 3.61952 6.276 3.74896C6.276 5.00396 5.25497 6.02499 3.99997 6.02499C2.74497 6.02499 1.72394 5.00396 1.72394 3.74896C1.72394 3.61952 1.61898 3.51459 1.48956 3.51459C1.36011 3.51459 1.25519 3.61952 1.25519 3.74896C1.25519 5.18348 2.36142 6.36432 3.76559 6.48365V7.53124H3.24686C3.11741 7.53124 3.01248 7.63618 3.01248 7.76562C3.01248 7.89505 3.11741 7.99999 3.24686 7.99999H4.75311C4.88253 7.99999 4.98748 7.89505 4.98748 7.76562C4.98748 7.63618 4.88253 7.53124 4.75311 7.53124H4.23434V6.48363C5.63852 6.3643 6.74475 5.18346 6.74475 3.74896Z" />
                            <path d="M4.00001 0C3.31708 0 2.76147 0.555609 2.76147 1.23853V3.74897C2.76147 4.43189 3.31708 4.98748 4.00001 4.98748C4.68296 4.98748 5.23857 4.43188 5.23857 3.74895V1.23853C5.23857 0.555609 4.68296 0 4.00001 0Z" />
                        </svg>
                    </div>
                    <div class="file">
                        <div class="file-input">
                            <input type="file" name="file" id="file" class="file-input__input"
                                (change)="uploadFile($event.target.files)" />
                            <label class="file-input__label" for="file">
                                <img src="assets/upload.svg" />
                            </label>
                        </div>
                    </div>
                </div>


                <div *ngIf="loading" class="loader">
                    <ngx-ring-loader class="item"></ngx-ring-loader>
                </div>
                <p *ngIf="currentAttempt" (click)="endGame()" class="end-game">End Game</p>
                <div *ngIf="currentAttempt" class="sound-container">
                    <div class="stick">
                    </div>
                    <div class="content">
                        <span class="title">{{currentAttempt?.lyricsSound.title}}</span>
                        <span class="group">{{currentAttempt?.lyricsSound.artist}}</span>
                    </div>
                </div>
                <div *ngIf="attemptSoundId" class="player">
                    <iframe scrolling="no" frameborder="0" allowTransparency="true" [src]="returnSrc()" width="350"
                        height="100"></iframe>
                </div>
                <div *ngIf="currentAttempt" class="buttons">
                    <div (click)="rightAnswer()" class="right">
                        <img src="assets/check.svg">
                        <span>Right</span>
                    </div>
                    <div (click)="wrongAnswer()" class="wrong">
                        <img src="assets/cancel.svg">
                        <p>Wrong</p>
                    </div>
                </div>

            </li>
            <li *ngSwitchCase="true">
                <div class="result-container">
                    <span class="result">Game ended. You Win</span>
                    <svg (click)="refresh()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867"
                        style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M409.6,0c-9.426,0-17.067,7.641-17.067,17.067v62.344C304.667-5.656,164.478-3.386,79.411,84.479
			c-40.09,41.409-62.455,96.818-62.344,154.454c0,9.426,7.641,17.067,17.067,17.067S51.2,248.359,51.2,238.933
			c0.021-103.682,84.088-187.717,187.771-187.696c52.657,0.01,102.888,22.135,138.442,60.976l-75.605,25.207
			c-8.954,2.979-13.799,12.652-10.82,21.606s12.652,13.799,21.606,10.82l102.4-34.133c6.99-2.328,11.697-8.88,11.674-16.247v-102.4
			C426.667,7.641,419.026,0,409.6,0z" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M443.733,221.867c-9.426,0-17.067,7.641-17.067,17.067c-0.021,103.682-84.088,187.717-187.771,187.696
			c-52.657-0.01-102.888-22.135-138.442-60.976l75.605-25.207c8.954-2.979,13.799-12.652,10.82-21.606
			c-2.979-8.954-12.652-13.799-21.606-10.82l-102.4,34.133c-6.99,2.328-11.697,8.88-11.674,16.247v102.4
			c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067v-62.345c87.866,85.067,228.056,82.798,313.122-5.068
			c40.09-41.409,62.455-96.818,62.344-154.454C460.8,229.508,453.159,221.867,443.733,221.867z" />
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </div>
            </li>
            <li *ngSwitchCase="false">
                <div class="result-container">
                    <span class="result">Game ended. you Lose :(</span>

                    <svg (click)="refresh()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867"
                        style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M409.6,0c-9.426,0-17.067,7.641-17.067,17.067v62.344C304.667-5.656,164.478-3.386,79.411,84.479
			c-40.09,41.409-62.455,96.818-62.344,154.454c0,9.426,7.641,17.067,17.067,17.067S51.2,248.359,51.2,238.933
			c0.021-103.682,84.088-187.717,187.771-187.696c52.657,0.01,102.888,22.135,138.442,60.976l-75.605,25.207
			c-8.954,2.979-13.799,12.652-10.82,21.606s12.652,13.799,21.606,10.82l102.4-34.133c6.99-2.328,11.697-8.88,11.674-16.247v-102.4
			C426.667,7.641,419.026,0,409.6,0z" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M443.733,221.867c-9.426,0-17.067,7.641-17.067,17.067c-0.021,103.682-84.088,187.717-187.771,187.696
			c-52.657-0.01-102.888-22.135-138.442-60.976l75.605-25.207c8.954-2.979,13.799-12.652,10.82-21.606
			c-2.979-8.954-12.652-13.799-21.606-10.82l-102.4,34.133c-6.99,2.328-11.697,8.88-11.674,16.247v102.4
			c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067v-62.345c87.866,85.067,228.056,82.798,313.122-5.068
			c40.09-41.409,62.455-96.818,62.344-154.454C460.8,229.508,453.159,221.867,443.733,221.867z" />
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                </div>
            </li>
            <li *ngSwitchDefault></li>
        </ul>
    </div>
</div>

<div *ngIf="history" class="history">
    <div class="score">
        <p>Wins: 5</p>
        <p>Losses: 5</p>
        <p>Not finished: 2</p>
    </div>
    <div class="divider">
    </div>
    <div class="history-container">
        <div></div>
    </div>
</div>