#start
    height: 3vw
    width: 7vw
    font-size: 1.5vw
    padding-top: 0.25vw
    background: #f2f2f2
    border-radius: 5px
    margin-top: 5vw
    margin-left: 1vw
    cursor: default

    :hover
        box-shadow: 0 0 0 2px #878787 inset