header
  position: fixed
  width: 100vw
  height: 3vw
  left: 0px
  top: 0px
  background: rgba(0, 0, 0, 0.71)

.logo 
  /* AudioGuess */
  position: absolute
  /* width: 130px */
  /* height: 12px */
  left: 2vw
  top: 0.5vw

  font-family: Porter Sans Block
  font-style: normal
  font-weight: normal
  font-size: 1.5vw
  /* line-height: 12px */
  /* identical to box height */
  color: #ffffff

/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
