<header>
  <span class="logo">AudioGuess</span>
  <div *ngIf="isLogged">
    <app-history></app-history>
    <app-avatar></app-avatar>
    <app-logout></app-logout>
  </div>
</header>
<div *ngIf="history" class="history">
  <div class="score">
    <p>Wins: {{ statistic.wins }}</p>
    <p>Losses: {{ statistic.losses }}</p>
  </div>
</div>

<!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->
