header
  position: fixed
  width: 100vw
  height: 3.5vw
  left: 0px
  top: 0px
  background: rgba(0, 0, 0, 0.71)

  div
    position: fixed
    right: 20px
    display: flex
    flex-direction: row
.logo
  /* AudioGuess */
  position: absolute
  left: 2vw
  top: 0.5vw

  font-family: Porter Sans Block
  font-style: normal
  font-weight: normal
  font-size: 2vw
  color: #ffffff
  cursor: default

.history
  width: 24vw
  height: 6vw
  border-radius: 5px
  right: 10px
  top: 3.5vw
  background: black
  position: fixed
  background: #ffffff
  padding: 0.5vw
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
  display: flex
  flex-direction: column

  p
    font-weight: 500
    font-size: 1.5vw
    margin-top: 0.5vw
    color: #a7a7a7

// .score::not:first-child
//   margin-top: 1vw
